discord/.idea/**/workspace.xml
discord/.idea/**/tasks.xml
discord/.idea/**/usage.statistics.xml
discord/.idea/**/dictionaries
discord/.idea/**/shelf
discord/.idea/**/aws.xml
discord/.idea/**/contentModel.xml
discord/.idea/**/dataSources/
discord/.idea/**/dataSources.ids
discord/.idea/**/dataSources.local.xml
discord/.idea/**/sqlDataSources.xml
discord/.idea/**/dynamic.xml
discord/.idea/**/uiDesigner.xml
discord/.idea/**/dbnavigator.xml
discord/.idea/**/gradle.xml
discord/.idea/**/librariescmake-build-*/
discord/.idea/**/mongoSettings.xml
discord/*.iws
discord/out/
discord/.idea_modules/
discord/atlassian-ide-plugin.xml
discord/.idea/replstate.xml
discord/.idea/sonarlint/
discord/com_crashlytics_export_strings.xml
discord/crashlytics.properties
discord/crashlytics-build.properties
discord/fabric.properties
discord/.idea/httpRequests
discord/.idea/caches/build_file_checksums.ser.idea/*!.idea/codeStyles
discord/!.idea/runConfigurations*.class
discord/*.log
discord/*.ctxt
discord/.mtj.tmp/
discord/*.jar
discord/*.war
discord/*.nar
discord/*.ear
discord/*.zip
discord/*.tar.gz
discord/*.rar
discord/hs_err_pid*
discord/replay_pid*
discord/.DS_Store
discord/.AppleDouble
discord/.LSOverride
discord/Icon._*
discord/.DocumentRevisions-V100
discord/.fseventsd
discord/.Spotlight-V100
discord/.TemporaryItems
discord/.Trashes
discord/.VolumeIcon.icns
discord/.com.apple.timemachine.donotpresent
discord/.AppleDB
discord/.AppleDesktop
discord/Network Trash Folder
discord/Temporary Items
discord/.apdisk*.icloud
discord/target/
discord/pom.xml.tag
discord/pom.xml.releaseBackup
discord/pom.xml.versionsBackup
discord/pom.xml.next
discord/release.properties
discord/dependency-reduced-pom.xml
discord/buildNumber.properties
discord/.mvn/timing.properties.mvn/wrapper/maven-wrapper.jar.project.classpath[._]*.s[a-v][a-z]
discord/!*.svg  
discord/[._]*.sw[a-p]
discord/[._]s[a-rt-v][a-z]
discord/[._]ss[a-gi-z]
discord/[._]sw[a-p]
discord/Session.vim
discord/Sessionx.vim
discord/.netrwhist
discord/*~tags[._]*.un~Thumbs.db
discord/Thumbs.db:encryptable
discord/ehthumbs.db
discord/ehthumbs_vista.db
discord/*.stackdump
discord/[Dd]esktop.ini
discord/$RECYCLE.BIN/
discord/*.cab
discord/*.msi
discord/*.msix
discord/*.msm
discord/*.msp
discord/*.lnk
discord/.gradle
discord/**/build/
discord/!src/**/build/
discord/gradle-app.setting
discord/!gradle-wrapper.jar
discord/!gradle-wrapper.properties
discord/.gradletasknamecache*.hprof

discord/run
